name: CI Pipeline
on: [workflow_dispatch, pull_request]

jobs:
  smoke-tests:
    runs-on: ubuntu-latest

    env:
      APP_URL: ${{ secrets.APP_URL }}
      APP_USER: ${{ secrets.APP_USER }}
      APP_PASSWORD: ${{ secrets.APP_PASSWORD }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          java-version: 17

      - name: Run tests
        run: mvn clean test
# temporary change to test secrets in GitHub Actions
